*{
    padding: 0;
    margin: 0;
}
html,body{
    font-size: 25px;
}
.parte2{
    margin-top: 10px;
}
.temas p{
    display: inline-block;
    font-size:15px;
   

}
.temas p:last-child{
    margin-left: 130px;
}
.temas p:first-child{
    margin-left: 10px;
}

.temas p + p{
    margin-left: 80px;
}
.teste1{
    margin-top: -10px;
}

.lista{
    margin-bottom: 20px;
    display: flex;
    display: inline-block;
    
}


.barrinha{
    width: 5px;
    height: 300px;
    background-color: gray;
}
.lista label{
    display: block;
    margin-bottom: 2px;
    margin-top: 0px;
}

.horas{
    margin-bottom: 20px;
    display: flex;
    display: inline-block;
}

.horas span{
    display: block;
    margin-bottom: 2px;
    margin-top: 0px;
}